In [ ]:
#06-02-2025
#Explain about list(5 examples)
#Explain about index and slicing(5 examples)
#list methods

# List:

*   A list in Python is used to keep multiple items together.
*   It's a collection that can store different types of data (numbers, words, or even other lists).
*   Lists are ordered(the items stay in the same sequence), and they can be changed mutable(add, remove, or modify items).

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

colors = ["red", "green", "blue"]
print(colors)

fruits = ["apple", "banana", "cherry", "mango"]
print(fruits)

person = ["Alice", 25, 5.6, True]
print(person)

price=[("tomato",15.5),("carrot",50),("lemon",20)]
print(price)

[1, 2, 3, 4, 5]
['red', 'green', 'blue']
['apple', 'banana', 'cherry', 'mango']
['Alice', 25, 5.6, True]
[('tomato', 15.5), ('carrot', 50), ('lemon', 20)]

# INDEXING
*   Indexing is used to access elements from a list.
*   Positive Indexing starts from 0 (left to right).
*   Negative Indexing starts from -1 (right to left).

In [ ]:
fruits = ["apple", "banana", "cherry", "mango", "orange"]
print(fruits[0])

fruits = ["apple", "banana", "cherry", "mango", "orange"]
print(fruits[-1])

numbers = [10, 20, 30, 40, 50]
print(numbers[1])
print(numbers[-4])

letters = ["A", "B", "C", "D", "E"]
print(letters[2])

mix=[1,"A",22.68,True]
print(mix[0])

apple
orange
20
20
C
1

# SLICING
*   Slicing is a technique used to extract a portion of a list, string, or tuple by specifying a range of indices.
*    It helps in selecting multiple elements efficiently without using loops.

In [ ]:
numbers = [10, 20, 30, 40, 50, 60]
print(numbers[1:4])  #list[start:end]

letters = ["A", "B", "C", "D", "E"]
print(letters[:3])  #list[:end]

fruits = ["apple", "banana", "cherry", "mango", "orange"]
print(fruits[2:])  #list[start:]

animals = ["cat", "dog", "rabbit", "elephant", "lion"]
print(animals[-4:-1])  #list[-start:-end]

data = [100, 200, 300, 400, 500]
print(data[::-1]) #Reversing List (list[::-1])

[20, 30, 40]
['A', 'B', 'C']
['cherry', 'mango', 'orange']
['dog', 'rabbit', 'elephant']
[500, 400, 300, 200, 100]

In [ ]:
#07-02-2025
#explain About list methods

# List (Methods)
1.append( )
*  Adds a single element to the end of the list.
*  Modifies the original list.

In [ ]:
list=[3,6,9,12,15]
list.append(18)
print(list)

[3, 6, 9, 12, 15, 18]

2.Extend( )
*   Adds multiple elements (iterable) at the end of the list.
*   Similar to append(), but adds multiple values.

In [ ]:
list_1 = [2,4,6,8,10]
list_2 = [12,14,16]
list_1.extend(list_2)
print(list_1)

[2, 4, 6, 8, 10, 12, 14, 16]

3.pop( )
*   Removes and returns the element at a given index.
*   Default is the last element.

In [ ]:
list = [3,6,9,12,15]
list.pop(2)
print(list)

[3, 6, 12, 15]

4.Insert( )
*   Inserts an element at a specific index.
*   Moves the existing elements forward.

In [ ]:
list = [2,4,6,10,12]
list.insert (3,8)
print(list)

[2, 4, 6, 8, 10, 12]

5.len ( )
*   Returns the total number of elements.
*   It works with various data structures like lists, tuples, strings, dictionaries, and sets.

In [ ]:
list = [2,4,6,8,10,12]
len(list)

6

6.count( )
*   Returns the number of occurrences of value in the iterable.
*   Works with lists, tuples, and strings.
*   If the value is not found, it returns 0.

In [ ]:
list = [2,4,2,6,2,8,2,10,4]
list.count(2)

4

7.sort ( )
*   sorts the list in ascending order by default.

In [ ]:
# sort() integer values
list = [12,10,8,6,4,2]
list.sort()
print(list)

[2, 4, 6, 8, 10, 12]

8.sort() string Values
*    Arranges strings in A-Z order.
*   It follows ASCII values (uppercase letters come before lowercase letters).

In [ ]:
# Sort() string values
list= ['A','b','c','D','E' ]
list.sort()
print(list)

['A', 'D', 'E', 'b', 'c']

9.reverse()


*   It reverses the order of elements.
*   Works only for lists (not for tuples, sets, or dictionaries).

In [ ]:
list = [18,15,12,9,6,3]
list.reverse()
print(list)

[3, 6, 9, 12, 15, 18]

10.clear( )

*   Removes all elements from the list but keeps the list itself.
*   It modifies the original list instead of creating a new one.

In [ ]:
list= [2,4,6,8,10,12]
list.clear()
print(list)

[]

11.copy()
*   creates a new list with the same elements as the original.
*   It is useful when you need to preserve the original list.

In [ ]:
list =[2,4,6,8,10,12]
list_1= list.copy()
print(list_1)

[2, 4, 6, 8, 10, 12]

12.index()
*   Returns the index of the first occurrence of value.
*   If the value is not found, it raises a ValueError.

In [ ]:
list = [2,4,6,8,10,12]
list.index(8)

3