# Loop Statements:
1) While Loop:

*   With the while loop we can execute a set of statements as long as a condition is true.
*   It is useful when the number of iterations is unknown beforehand.
*   remember to increment i, or else the loop will continue forever.

In [ ]:
# Syntax:
while condition:
    # Code block to execute

In [1]:
# Basic Exmaple For While Loop
# Condition 1:
x = 1
while x <= 5:
    print(x)
    x += 1

1
2
3
4
5

In [5]:
#Condition 2:
x = 1
while x <= 5:
    x += 1
    print(x)

2
3
4
5
6

2) for loop:


*   A for loop in Python is used to iterate over a sequence (such as a list, tuple, dictionary, string, or range).
*   It executes a block of code for each item in the sequence.

In [ ]:
#Syntax:

for variable in sequence:
    # Code block to execute

In [1]:
#Basic Example For for loop
for i in range(1,6):
    print(i)

1
2
3
4
5

In [7]:
#Iterating Over a String
text = "Hello"
for char in text:
    print(char)

H
e
l
l
o

In [8]:
#Iterating Over a Tuple
numbers = (10, 20, 30, 40)
for num in numbers:
    print(num)

10
20
30
40

In [9]:
#Iterating Over a Dictionary (Keys and Values)
student = {"name": "Alice", "age": 22, "grade": "A"}
for key, value in student.items():
    print(key, ":", value)

name : Alice
age : 22
grade : A

In [10]:
#Iterating Over a Set
fruits = {"apple", "banana", "cherry"}
for fruit in fruits:
    print(fruit)

apple
cherry
banana

# Control Statements:
*   Control statements alter the flow of execution in loops and conditional statements.
*   The three main control statements are pass, continue, and break.

1) pass:
*   The pass statement is a placeholder and does nothing when executed.
*   It is useful when a block of code is syntactically required but not yet implemented.

In [3]:
for i in range(5):
    if i == 2:
        pass  # Placeholder, does nothing
    else:
        print(i)

0
1
3
4

2) Continue:
*   It is used to skip a specific iteration in a loop.
*   The loop does not terminate; it continues with the next iteration.

In [6]:
# Skip printing 2
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

In [7]:
# Skip even numbers
for num in range(1, 6):
    if num % 2 == 0:
        continue
    print(num)

1
3
5

3) break:


*   It is used to exit a loop immediately.
*   Any code after break inside the loop is not executed.

In [10]:
for i in range(5):
    if i == 3:
        break  # Stop the loop when i is 3
    print(i)

0
1
2

In [12]:
# Stop loop when word is found
words = ["apple", "banana", "cherry", "mango"]
for word in words:
    if word == "cherry":
        break
    print(word)

apple
banana